/*----------------------------------------- */
/* BASIC SETUP */
/*------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    background-color: #fff;
    color: #5f5f5f;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

section {
    padding: 80px 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix {zoom: 1,}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------ HEADINGS ----- */

h1 {
    color: #fff;
    font-weight: 300;
    margin-top: 0;
    margin-bottom; 20px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-weight: 300;
    margin-top: 0;
    font-size: 180%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 120%;
}

/* ------ ICONS ----- */

.icon_big {
    font-size: 300%;
    color: #e67e22;
    display: block;
    margin-bottom: 10px;
}

/*----------------------------------------- */
/* HEADER */
/*------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/wood.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.main_text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* Main Nav */

.main_nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main_nav li {
    display: inline-block;
    margin-left: 40px;
}

.main_nav li a:link,
.main_nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main_nav li a:hover,
.main_nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/* Buttons */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn_full:link,
.btn_full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn_ghost:link,
.btn_ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
   background-color: #cf6d17;
   border: 1px solid #cf6d17;    
}

.btn_full:hover,
.btn_full:active {
    border: 1px solid #cf6d17;
}

.btn_ghost:hover,
.btn_ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.tomas_foto img {
    height: 180px;
    border-radius: 50%;
    display: block;
    margin: 60px auto;
    border: 2px solid transparent;
    padding: 10px;
    transition: border 0.5s;
}

.tomas_foto img:hover {
    border: 2px solid #e67e22;
}

.full_info {
    text-align: center;
    margin: 30px 0;
    margin-bottom: 60px;
    font-size: 120%;
}

/*----------------------------------------- */
/* FURNITURE SHOWCASE */
/*------------------------------------------*/

.section_furniture {
    padding: 0;
}

.furniture_showcase {
    list-style: none;
    width: 100%;
}

.furniture_showcase li {
    display: block;
    float: left;
    width: 25%;
    padding: 0;
}

.furniture_photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.furniture_photo img {
    opacity: 0.75;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.furniture_photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/*----------------------------------------- */
/* TESTIMONIALS */
/*------------------------------------------*/

.section_testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/workbanch.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section_testimonials h2 {
    color: #fff;
}

blockquote {
    padding: 2% 5%;
    position: relative;
    line-height: 145%;
    margin-top: 40px;
    font-style: italic;
    color: #fff;
    
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    display: block;
    margin-top: 25px;
    font-size: 90%;
    
}

cite img {
    height: 90px;
    border-radius: 50%;
    vertical-align: middle;  
}

/*----------------------------------------- */
/* PRODUCTION */
/*------------------------------------------*/


.box {
    padding: 2% 6%;
    text-align: center;
}

. box p {
    font-size: 90%;
    line-height: 145%;
}

/*----------------------------------------- */
/* FORM */
/*------------------------------------------*/

.contact_form {
    width: 60%;
    margin: 40px auto 0px auto;
}

input[type=text],
input[type=email],
input[type=number],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

/*----------------------------------------- */
/* FOOTER*/
/*------------------------------------------*/


footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer_nav {
    float: left;
    list-style: none;
}

.footer_nav li,
.social_links li {
    display: inline-block;
    margin-right: 20px;
}

.social_links {
    list-style: none;
    float: right;
}

.footer_nav li:last-child,
.social_links li:last-child {
    margin-right: 0px;
}

.footer_nav li a:link,
.footer_nav li a:visited,
.social_links li a:link,
.social_links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer_nav li a:hover,
.footer_nav li a:active {
    color: #ddd;
}

.social_links li a:link,
.social_links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-google,
.ion-social-skype,
.ion-social-pinterest {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-google:hover {
    color: #dd4b39;
}

.ion-social-skype:hover {
    color: #00aff0;
}

.ion-social-pinterest:hover {
    color: #cb2027;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}